.min-h-custom {
    min-height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.history-items-container {
    max-height: vh;
    overflow-y:scroll; /* Enables scrolling when content exceeds max height */
}
